@import "../../variables.scss";

.TheoremPanel {
    display: grid;
    grid-template-areas: 
        "name name"
        "prereq-h prereq"
        "thesis-h thesis";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    max-width: 80vw;
    padding: 1vw 4vw;
    margin: 0.2vw 0;
    box-shadow: -1px 7px 20px 0px rgba(0, 0, 0, 0.1);

    font-size: 2vw;
    background-color: white;
    color: black;

    .TheoremPanel-name {
        grid-area: name;
        font-size: 1.3em;
        text-align: center;
        color: black;
    }

    .TheoremPanel-prereqs-header {
        grid-area: prereq-h;
    }

    .TheoremPanel-prereqs {
        grid-area: prereq;
        margin: 0;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .TheoremPanel-thesis-header {
        grid-area: thesis-h;
    }

    .TheoremPanel-thesis-header, .TheoremPanel-prereqs-header {
        padding-right: 1em;
        color: #aaa;
    }

    .TheoremPanel-thesis {
        grid-area: thesis;
        word-wrap: normal;
        white-space: normal;
    }
}

@media screen and (min-width: $sm-breakpoint) {
    .TheoremPanel {
        font-size: 1em;
    }
}