.TheoremList {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    overflow-y: scroll;

    .TheoremList-list {
        display: flex;
        flex-direction: column;
    }

    .TheoremFilter {
        align-self: center;
    }
}