.TheoremFilter {
    margin: 0 15vw;
    padding: 10px;
    background-color: rgb(212, 209, 209);

    h1 {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .TheoremFilter-categories {
        label {
            display: block;
        }
    }
}