.Header {
    display: flex;
    padding: 10px 15vw;
    background-color: black;

    h1 {
        color: white;
        margin: 0;
        margin-right: 30px;
    }

    a {
        display: block;
        margin: 0 5px;
        padding: 10px 20px;
        min-width: 70px;

        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        border: 2px solid black;
        color: #999;

        &:hover {
            border: 2px solid #333;
        }

        &.active {
            border: 2px solid white;
            color: white;
        }

        transition: 0.1s ease-out all;
    }
}