.SubjectPage {
    display: flex;
    flex-direction: column;
    height: 100%;

    .SubjectPage__subpage-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;

        .SectionLink {
            margin: 10px 0;
            min-width: 300px;
        }
    }
}