.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    background-color: #f0efef;

    .Header {
        grid-area: header;
    }

    .App-main-content {
        grid-area: main;
        height: 100%;
        overflow: hidden;
    }

    & > .Footer {
        grid-area: footer;
    }
}