.QuizOptionComponent {
    margin: 10px;
    padding: 5px 20px;
    background-color: #ffff;

    &.wrong {
        background-color: rgb(241, 44, 44);
    }

    &.correct {
        background-color: rgb(115, 245, 115);
    }
}